Client/src/META-INF/wsdl/localhost_8080/TowerService-war/TowerService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.pai8.adamborowski.pl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.pai8.adamborowski.pl/">

<xs:element name="getTowers" type="tns:getTowers"/>

<xs:element name="getTowersResponse" type="tns:getTowersResponse"/>

<xs:element name="randomizeTowers" type="tns:randomizeTowers"/>

<xs:element name="randomizeTowersResponse" type="tns:randomizeTowersResponse"/>

<xs:element name="tower" type="tns:tower"/>

<xs:complexType name="randomizeTowers">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="randomizeTowersResponse">
<xs:sequence>
<xs:element name="return" type="tns:tower" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tower">
<xs:sequence/>
<xs:attribute name="tower" type="xs:string"/>
<xs:attribute name="height" type="xs:int" use="required"/>
</xs:complexType>

<xs:complexType name="getTowers">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getTowersResponse">
<xs:sequence>
<xs:element name="return" type="tns:tower" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>