ServiceLocator/ServiceLocator-war/web/WEB-INF/wsdl/localhost_8080/CarService-war/CarService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.pai8.adamborowski.pl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.pai8.adamborowski.pl/">

<xs:element name="car" type="tns:car"/>

<xs:element name="getCars" type="tns:getCars"/>

<xs:element name="getCarsResponse" type="tns:getCarsResponse"/>

<xs:complexType name="getCars">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getCarsResponse">
<xs:sequence>
<xs:element name="return" type="tns:car" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="car">
<xs:sequence/>
<xs:attribute name="name" type="xs:string"/>
<xs:attribute name="price" type="xs:int" use="required"/>
</xs:complexType>
</xs:schema>